# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/test*
stc/segment
src/dp.cpp
src/dp.h
.vscode/
backup/
src/segment
output.pdf
.gitignore
c_version
c_version.cpp
test_command.txt
lookIntosignal
src/__pycache__/
src/last_cookie.txt
src/segmentation
src/_old/
src/*/__pycache__/
tests/playground/

src/dynamont/segmentation_basic
src/dynamont/segmentation_basic_sparsed
src/dynamont/segmentation_indel
src/dynamont/segmentation_3d
src/dynamont/segmentation_3d_sparsed
src/dynamont/.nfs*
src/dynamont/core
src/dynamont/test_*
src/standalones/segmentation_3d_sparsed.cpp
src/standalones/segmentation_basic_sparsed.cpp
src/standalones/segmentation_indel.cpp
_old/calc_norm_models.py
_old/error.txt
_old/fillModels.py
_old/last_cookie.txt
_old/rna004.nucleotide.5mer.model
_old/segment
_old/segment_affine
_old/segment_affine_deletion
_old/segment_affine_deletion.cpp
_old/segment_affine.cpp
_old/segment.cpp
_old/segment.py
_old/segmentation
_old/segmentation_3d
_old/segmentation_3d_sparsed.cpp
_old/segmentation_3d.cpp
_old/segmentation_basic
_old/segmentation_basic.cpp
_old/segmentation_extended.cpp
_old/segmentation_indel.cpp
_old/segmentation_prefix.cpp
_old/template_median69pA_extended.model
_old/template_median69pA_reduced_halfed.model
_old/template_median69pA_reduced.model
_old/template_median69pA.model
_old/test_command copy.txt
_old/test_short.txt
_old/train_affine_deletion.py
_old/train_prefix.py
_old/train.py
_old/trainTransitions_SB.py
_old/trainTransitions.py
_old/f5c/__init__.py
_old/f5c/estimateModelsFromF5C.py
_old/f5c/extractF5Cseg.py
_old/modelsF5C/bastiIVTA/normpAmodels.model
_old/modelsF5C/bastiIVTA/pAmodels.model
_old/modelsF5C/bastiIVTA/polyAstdmodels.model
_old/modelsF5C/bastiIVTA/README.sh
_old/modelsF5C/ecoliTrmbKO/README.sh
_old/modelsF5C/ecoliWTModels/normpAmodels.model
_old/modelsF5C/ecoliWTModels/pAmodels.model
_old/modelsF5C/ecoliWTModels/pAmodels.model.extended
_old/modelsF5C/ecoliWTModels/pAmodels.model.filled
_old/modelsF5C/ecoliWTModels/polyAstdmodels.model
_old/modelsF5C/ecoliWTModels/README.sh
_old/modelsF5C/ecoliWTModels_q15/normpAmodels.model
_old/modelsF5C/ecoliWTModels_q15/pAmodels.model
_old/modelsF5C/ecoliWTModels_q15/polyAstdmodels.model
_old/plot/__init__.py
_old/plot/plotF5c.py
_old/plot/plotPDF_kmers.py
_old/plot/plotPDF.py
src/dynamont/segmentation_3d_sparsed_reduced
_old/README.md
src/dynamont/utils_unittest.cpp
test_README.sh
