# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/test*
stc/segment
src/dp.cpp
src/dp.h
.vscode/
backup/
src/segment
output.pdf
.gitignore
c_version
c_version.cpp
test_command.txt
lookIntosignal
src/__pycache__/
src/last_cookie.txt
src/segmentation
src/_old/
src/*/__pycache__/
tests/playground/

src/dynamont/segmentation_basic
